html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Light'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Muller', sans-serif;
    background: #F1F1F1;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: #dadada;
}

.section__title {
    margin: 0;
    margin-bottom: 20px;
    text-indent: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

/* header */

.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header__logo {
    margin-right: 40px;
}

.header__tel {
    margin-right: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 14px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-color: #fff;
    border-radius: 15px;
}

.header__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.header__img {
    margin-right: 7px;
}

.header-list__item {
    color: #666666;
}

.header-list__item:not(:last-child) {
    margin-right: 30px;
}

.header__nav {
    margin-right: auto;
}

.header__btn {
    padding: 13px 20px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.header__btn:not(:last-child) {
    margin-right: 40px;
}

.header {
    margin-bottom: 70px;
    padding-top: 30px;
}

/* special */

.special__content {
    display: flex;
}

.special__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 24px) / 2);
}

.special__bg--1 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-1.jpg');
}

.special__bg--2 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-2.jpg');
}

.special__bg--3 {
    background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-3.jpg');

}

.special__item:not(:last-child) {
    margin-right: 24px;
}

.special__article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 258px;
    margin-bottom: 24px;
    padding: 40px 45px;
    border-radius: 15px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special__article:last-child {
    margin-bottom: 0;
}

.special__article--right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.special-item__title {
    max-width: 420px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}

.special-item__text {
    margin: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.special {
    margin-bottom: 70px;
}

.special-item__link {
    align-self: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url('../img/right-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.special-item__title--right {
    margin: 0;
    margin-bottom: 15px;
    max-width: 300px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special-item__text--right {
    margin: 0;
    margin-bottom: 47px;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

/* about */

.about__text {
    width: 888px;
    font-size: 16px;
    line-height: 200%;
}

.about {
    margin-bottom: 70px;
}

/* sevices */

.services__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 570px;
    min-height: 330px;
    padding: 35px 45px;
    margin-bottom: 30px;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}

.services__item--bg1 {
    background-image: url('../img/services-1.jpg');
}

.services__item--bg2 {
    background-image: url('../img/services-2.jpg');
}

.services__item--bg3 {
    background-image: url('../img/services-3.jpg');
}

.services__item--bg4 {
    background-image: url('../img/services-4.jpg');
}

.services__item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.services-item-preview__link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}

.services-item-preview__img {
    margin-left: 10px;
}

.services-item-preview__text {
    max-width: 400px;
    margin: 0;
    font-size: 16px;
    line-height: 200%;
}

.class-item-preview__header {
    margin: 0;
}

.services {
    margin-bottom: 40px;
}

/* benefits */

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 276px;
    min-height: 276px;
    padding: 40px 42px 32px 45px;
    margin-bottom: 22px;
    border-radius: 15px;
    background-color: #fff;
}

.benefits-item__descr {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
}

.benefits__item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.benefits {
    margin-bottom: 48px;
}

.benefits-item__img {
    margin-bottom: 10px;
}

/* accomodation */

.accomodation__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.accomodation__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 374px;
    min-height: 440px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 15px;
    font-size: 16px;
    line-height: 16px;
}

.accomodation-item__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;
    padding-top: 32px;
}

.accomodation__item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.accomodation-item__name {
    margin-bottom: 16px;
}

.accomodation-item__place {
    margin-bottom: 20px;
}

.accomodation-item__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.accomodation-item__btn {
    align-self: flex-start;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.accomodation-item__image {
    padding-bottom: 32px;
}

.text__grey {
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.text__bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.accomodation-item__place {
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.accomodation__item--big {
    padding: 27px 54px;
    background-image: url('../img/accomodation-9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accomodation-item__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

.accomodation-item__img--big {
    margin-left: 6px;
}