html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    background: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.btn {
    border: none;
    border-radius: 16px;
    background-color: var(--orange);
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    background-color: var(--orange-light);
}

.btn:active {
    background-color: var(--orange-dark);
}

.section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

:root {
    --px-32: 32px;
    --px-16: 16px;
    --px-2: 2px;
    --orange: #FF9900;
    --orange-light: #FFB84D;
    --orange-dark: #E1670E;
    --white: #fff;
    --grey-1: #CACACA;
    --grey-2: rgba(0, 0, 0, 0.5);
    --grey-3: #666;
    --grey-4: #414141;
    --black: black;
}

/* header */

.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px var(--px-32) var(--px-32);
    margin-bottom: 50px;
    padding: 14px 0;
    
}

.header__container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__img {
    margin-right: auto;
}

.header__nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 260px;
}

.header__link {
    position: relative;
    font-weight: 600;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--px-2);
    background-color: var(--orange);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header__link:focus::after {
    opacity: 0;
}

.header__link:focus {
    outline-offset: 5px;
    outline: var(--px-2) solid var(--orange);
}

.header__link:hover {
    outline: none;
}

.header__link:hover::after {
    opacity: 1;
}

.header__link:active {
    color: var(--orange-dark);
}

.header__link:active::after {
    opacity: 1;
    background-color: var(--orange-dark);
}

.header__search {
    cursor: pointer;
    transition: outline 0.3s ease-in-out;
}

.header__search:focus {
    outline-offset: 4px;
    outline: var(--px-2) solid var(--orange);
}

.header__search:hover,
.header__search:active {
    outline: none;
}

.header__search rect {
    fill: var(--black);
    transition: fill 0.3s ease-in-out;
}

.header__search:focus rect {
    fill: var(--black);
}

.header__search:hover rect,
.header__search:active rect {
    fill: var(--orange);
}

.header__search path {
    stroke: var(--black);
    transition: stroke 0.3s ease-in-out;
}

.header__search:focus path {
    stroke: var(--black);
}

.header__search:hover path,
.header__search:active path {
    stroke: var(--orange);
}

/* ad */

.advert {
    margin-bottom: 50px;
}

.ad-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
    border-radius: var(--px-32);
    background-image: url(../img/ad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: calc(50% - (3 * 15px + 2 * 20px) / 2);
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--grey-1);
}

.dot:not(:last-child) {
    margin-right: 20px;
}

.advert__header {
    max-width: 837px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #fff;
    margin-bottom: 24px;
}

.advert__descr {
    max-width: 790px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 90px;
}

.advert__btn {
    align-self: flex-start;
    padding: 25px 39px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    background-color: #FF9900;
}

/* about */

.about__header {
    margin-bottom: 20px;
}

.about__descr {
    max-width: 1235px;
    font-size: var(--px-16);
    line-height: var(--px-32);
    margin-bottom: 50px;
}

.cards {
    display: flex;
}

.cards__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc((100% - var(--px-32)) / 2);
    border-radius: var(--px-32);
    margin-right: var(--px-32);
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-card {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--px-32);
}

.left-card__descr {
    width: calc(433 / (868 - 2 * 50) * 100%);
    margin-right: auto;
    font-weight: 700;
    font-size: var(--px-16);
    line-height: var(--px-32);
    color: #fff;
}

.left-card__btn {
    flex-grow: 0;
    outline: 3px solid #FF9900;
    padding: 20px 38px;
    background-color: transparent;
    font-weight: 700;
    font-size: var(--px-16);
    line-height: 20px;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.left-card__btn:focus,
.left-card__btn:hover {
    background-color: var(--orange);
    outline: none;
}

.left-card__btn:active {
    background-color: var(--orange-dark);
    outline: none;
}

.cards__right {
    display: flex;
    flex-direction: column;
    width: calc((100% - var(--px-32)) / 2);
}

.card:not(:last-child) {
    margin-bottom: var(--px-32);
}

.card {
    display: flex;
    align-items: center;
    outline: 1px solid #CACACA;
    border-radius: var(--px-32);
    padding: 65px;
}

.card__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

.card__descr {
    max-width: 450px;
    font-weight: 400;
    text-align: left;
    font-size: var(--px-16);
    line-height: var(--px-32);
}

.card__img {
    margin-right: 50px;
}

.about {
    margin-bottom: 100px;
}

/* work */

.work__header {
    margin-bottom: 50px;
}

.work__container {
    display: flex;
    align-items: center;
}

.work__steps {
    display: flex;
    justify-content: space-between;
    max-width: 459px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px;
}

.work__header--small {
    font-weight: 700;
    font-size: 24px;
    line-height: var(--px-32);
    margin-bottom: 8px;
}

.work__right {
    min-height: 460px;
    width: calc((100% - 142px) / 2);
    border-radius: var(--px-32);
    background-image: url(../img/work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work__img {
    max-height: 460px;
}

.work__text {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: var(--px-16);
    line-height: var(--px-32);
}

.work__left {
    display: flex;
    flex-direction: column;
    width: calc((100% - 142px) / 2);
    margin-right: 142px;
}

.work__img {
    border-radius: var(--px-32);
}

.work__button {
    padding: 20px 38px;
    margin-right: var(--px-32);
    font-weight: 700;
    font-size: var(--px-16);
    line-height: 20px;
    color: #fff;
    background-color: #FF9900;
}

.work__button--transparent {
    padding: 20px 38px;
    outline: 1px solid #000000;
    background-color: transparent;
    font-weight: 400;
    font-size: var(--px-16);
    line-height: 20px;
    color: #000000;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__button--transparent:focus,
.work__button--transparent:hover {
    background-color: var(--grey-3);
    color: var(--white);
}

.work__button--transparent:active {
    background-color: var(--black);
    color: var(--white);
}


.work {
    margin-bottom: 111px;
}

.work__link {
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.work__link:focus {
    outline-offset: 5px;
    outline: var(--px-2) solid var(--orange);
    color: var(--black);
}

.work__link:hover {
    outline: none;
    color: var(--orange);
}

.work__link:active {
    outline: none;
    color: var(--orange-dark);
}

/* faq */

.faq__header {
    margin-bottom: var(--px-32);
}

.faq__list {
    list-style-type: none;
    padding: 0;
}

.faq__item {
    display: flex;
    padding: 30px 0;
    align-items: center;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}

.faq__item:focus, 
.faq__item:hover {
    border-color: var(--orange);
    color: var(--orange);
}

.faq__item:active {
    border-color: var(--grey-1);
    color: var(--black);
}



.faq__text {
    font-weight: 700;
    font-size: 24px;
    line-height: var(--px-32);
}

.faq__plus {
    flex-shrink: 0;
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
}

.faq__item:active .faq__plus {
    transform: rotate(45deg);
}

.faq__plus ellipse {
    fill: var(--grey-1);
    transition: fill 0.3s ease-in-out;
}

.faq__item:focus .faq__plus ellipse, 
.faq__item:hover .faq__plus ellipse{
    fill: var(--orange);
}

.faq__item:active .faq__plus ellipse{
    fill: var(--grey-1);
}

.faq__plus path {
    fill: var(--black);
    transition: fill 0.3s ease-in-out;
}

.faq__item:focus .faq__plus path, 
.faq__item:hover .faq__plus path{
    fill: var(--white);
}

.faq__item:active .faq__plus path{
    fill: var(--black);
}


.faq {
    margin-bottom: 100px;
}

/* footer */

.footer {
    background-color: #000000;
    padding: 50px 0;
}

.footer__container {
    display: flex;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.footer__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:focus {
    color: var(--grey-1);
    outline-offset: 5px;
    outline: var(--px-2) solid var(--orange);
}

.footer__link:hover {
    outline: none;
    color: var(--orange);
}

.footer__link:active {
    outline: none;
    color: var(--orange-dark);
}

.footer__header {
    color: #CACACA;
    margin-bottom: 25px;
}

.footer__text {
    max-width: 363px;
    font-size: var(--px-16);
    line-height: var(--px-32);
    color: #CACACA;
}

.footer__center {
    width: 570px;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__input,
.footer__textarea {
    height: 60px;
    padding: 14px 24px;
    border: none;
    background-color: var(--grey-4);
    border-radius: var(--px-16);
    margin-bottom: 25px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__input:focus,
.footer__textarea:focus, 
.footer__input:hover,
.footer__textarea:hover,
.footer__input:active,
.footer__textarea:active  {
    background-color: var(--grey-3);
} 

.footer__input:active,
.footer__textarea:active  {
    color: var(--white);
} 

.footer__logo {
    margin-bottom: 20px;
}

.footer__icon {
    transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
    fill: var(--grey-3);
}

.footer__icon:focus {
    outline-offset: 5px;
    outline: var(--px-2) solid var(--orange);
    fill: var(--grey-3);
}

.footer__icon:hover {
    outline: none;
    fill: var(--orange);
}

.footer__icon:active {
    outline: none;
    fill: var(--orange-dark);
}

.footer__icon--link:not(:last-child) {
    margin-right: 25px;
}

.footer__textarea {
    resize: none;
    height: 150px;
    margin-bottom: var(--px-32);
}

.footer__left {
    display: flex;
    flex-direction: column;
    margin-right: 350px;
}

.footer__btn {
    padding: 19px 52px;
    margin-right: 22px;
    background-color: #FF9900;
}

.form__check {
    font-size: var(--px-16);
    line-height: var(--px-32);
    color: #CACACA;
}

.form__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__right {
    margin-left: auto;
}

.burger {
    display: none;
}