@font-face {
    font-family: "TT Firs Neue"; 
    src: url("resources/TTFirsNeueRegular.ttf"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "TT Firs Neue"; 
    src: url("resources/TTFirsNeueBold.ttf"); 
    font-style: normal; 
    font-weight: 700; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("resources/Roboto-Regular.ttf"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("resources/Roboto-Bold.ttf"); 
    font-style: normal; 
    font-weight: 700; 
}