@import 'vars';

@mixin orangeButton {
    align-self: start;
    padding: 15px 22px;
    background-color: $orangeColor;
    color: $whiteColor;
    font-size: 16px;
    line-height: 19px;
    font-family: $secondaryFont;
}

@mixin badge($left, $right){
    position: absolute;
        top: $left;
        right: $right;
        display: block;
        padding: 7px 14px;
        font-size: 14px;
        line-height: 16px;
        color: $whiteColor;
        background-color: $backgroundColor;
        font-family: $secondaryFont;
}