$backgroundColor: #202020;
$backgroundLight: #4A4A4A;
$orangeColor: #FF6E30;
$orangeColorDark: #CE4307;
$orangeColorDarker: #BC572B;
$whiteColor: #fff;
$greyColor: #999999;
$greyColorLight: #CACACA;
$primaryFont: 'TT Firs Neue', 'Roboto', sans-serif;
$secondaryFont: 'Roboto', sans-serif;