.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    background-color: yellow;
    box-shadow: 0px 0px 20px orange;
    background: linear-gradient(90deg, #fbbc00 0%, #fcf800 100%);
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}

.input {
    display: inline-block;
    margin-left: 40px;
    border-radius: 8px;
    border-color: rgba(128, 128, 128, 0.359);
    font-size: 24px;
}

.input:hover {
    border-color: black;
}

.input:hover::placeholder {
    color: black;
    content: "Введите текст";
}

.input-text {
    display: inline-block;
}