.button {
    display: inline-flex;
    text-transform: uppercase;
    padding: 14px 23px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: yellow;
    box-shadow: 0px 0px 20px orange;
    background: linear-gradient(90deg, #fbbc00 0%, #fcf800 100%);
    cursor: pointer;
    user-select: none;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1em;
}

.button:hover {
    box-shadow: 0px 0px 20px orangered;
    background: linear-gradient(90deg, #d19d00 0%, #ceca00 100%);
}

.input {
    display: block;
    margin-bottom: 30px;
    border-radius: 8px;
    border-color: rgba(128, 128, 128, 0.359);
    font-size: 24px;
}

.input:hover {
    border-color: black;
}

.input:hover::placeholder {
    color: black;
}

.input-text {
    display: inline-block;
}

.label {
    display: block;
    color: grey;
}

.text {
    margin: auto;

}

.image {
    margin: 0;
    margin-right: 15px;
    height: 1.7em;
}
